body {
    background-color: #2C3B4F;
}

div {
    color: #CCE5FF;
    font-family: Arial;
    text-align: center;
}

h1 {
    font-size: 60px;
}

span {
    font-size: 40px;
}

button {
    display: block;
    color: #34445C;
    background-color: #8EBEFF;
    font-size: 40px;
    font-family: Arial;
    border-radius: 22px;
    padding: 10px 50px 10px 50px;
    margin: auto;
}